<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515334389198-834t5f34bmdgh0jtces2gvtp8oob66on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515334389198-834t5f34bmdgh0jtces2gvtp8oob66on</string>
	<key>API_KEY</key>
	<string>AIzaSyAkFE37ZRRijmxuXNlrwbzXage9G5K6m30</string>
	<key>GCM_SENDER_ID</key>
	<string>515334389198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLoginSignup</string>
	<key>PROJECT_ID</key>
	<string>fir-example-flutter-5d681</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-flutter-5d681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515334389198:ios:ea16582603d09c9636bf9f</string>
</dict>
</plist>